# Pandas 2

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = sns.load_dataset('titanic')
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

## Average Age by Gender and Class

Find the average age of passengers based on both their gender (Sex) and class (Pclass).

## Survival Rates with Age Bins

Group passengers into age bins (e.g., 0-9, 10-19, 20-29, ...), and compute the survival rate for each bin.

## Fare Metrics

Compute and display the mean, median, and standard deviation of fares for passengers who survived and those who did not.

## Survival by Deck

The first letter of the cabin number represents the deck. Determine the survival rate for each deck.

## Who's Alone and Who's Not

The `sibsp` column indicates siblings and spouses. The `parch` column inicates parents and children.

Define "alone" as someone who has no siblings/spouses/parents/children on board. Calculate the survival rate for passengers who were "alone" vs. those who were not.

## Family Size

Calculate the survival rate based on the family size. Family size is the sum of siblings/spouses (`sibsp` column) and parents/children (`parch` column).

## Spending Power

Calculate and categorize the spending power of passengers as 'Low', 'Medium', and 'High' based on the fare they paid. Define the categories using the 33rd and 66th percentile of the fares as thresholds.

## Survival Rate by Embarked Port

Plot the survival rates of passengers based on where they embarked from.

## Distribution of Fares

Plot the distribution of fares paid by passengers, segmented by their survival status (survived or not).

## Age vs. Fare Scatter Plot

Create a scatter plot to show the relationship between age and fare, with different colors for survival status.

## Boxplot of Fares by Class

Display a boxplot to compare the fare distribution across different classes.